<div class="container-adocao">
 <div style="margin-top:10%;" class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Idade</label>
        </div>
        <div class="input-field col s8">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Descrição</label>
        </div>

      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
    
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>

        <a style="width:100%;margin-top:1em" class="waves-effect waves-light btn">Cadastrar Gato</a>

      </div>
      </div>
    </form>
  </div>

    <div class="col s12 m4 l2"></div>
  </div>
</div>