<div class="container-adocao">
 <div style="margin-top:10%;" class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
    <div class="row">
    <form id="registercatform" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input name="nome_gato" placeholder="Placeholder" id="nome_gato" type="text" class="validate">
          <label for="nome_gato">Nome</label>
        </div>
        <div class="input-field col s6">
          <input name="idade" id="idade" type="text" class="validate">
          <label for="idade">Idade</label>
        </div>
        <div class="input-field col s6">
          <input id="raca" name="raca" type="text" class="validate">
          <label for="raca">Raça</label>
        </div>

        <div class="input-field col s8">
          <input placeholder="Placeholder" id="desc_pet" name="desc_pet" type="text" class="validate">
          <label for="desc_pet">Descrição</label>
        </div>

      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="fotogato">
        </div>
    
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>

        <a style="width:100%;margin-top:1em" class="waves-effect waves-light btn" id="buttonConfirmarCat">Cadastrar Gato</a>

      </div>
      </div>
    </form>
  </div>

    <div class="col s12 m4 l2"></div>
  </div>
</div>