<div class="containerL">
<div class="containerLogin">
<div class="midContainer">
<div class="row">
    <img class="logo" src="./images/logo.png"/>
    <div class="input-field col s12">
        <input id="Username" type="text" class="validate">
        <label for="Username">Username</label>
    </div>
    <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
    <a class="waves-effect waves-light btn" href="/register">Cadastrar</a>
    <a id="entrar" class="waves-effect waves-light btn">Entrar</a>
</div>
</div>
</div>
</div>