<div id="menuSand">
<i class="fas fa-bars fa-3x"></i> </div>
<div id="menuCentral" class="menu-left slideInLeft">
        <div id="closeMenu">
        <i id="closeMenu" class="fas fa-times fa-2x"></i> </div>
        <div class="">
            <img class="logo" src="/images/logo.png"/>
            <div class="imagePerfil">
            </div>
            <div class="textWelcome">   
                <h1>Bem vindo</h1>
                <p class="username"></p>
            </div>
            <ul class="menus">
                <li>Pagina adoção</li>
                <li>Cadastrar Pet</li>
                <li>Matchs <span style="font-weight:bold"> </span></li>
                <li id="logout">Sair </li>
            </ul>
        </div>
    </div>