<div id="menuSand">
<i class="fas fa-bars fa-3x"></i> </div>
<div id="menuCentral" class="menu-left slideInLeft">
        <div id="closeMenu">
        <i id="closeMenu" class="fas fa-times fa-2x"></i> </div>
        <div class="">
            <img class="logo" src="/images/logo.png"/>
            <div class="imagePerfil">
                <div class="hoverPerfil">
                    <p>Trocar imagem</p>
                </div>
            </div>
            <div class="textWelcome">   
                <h1>Bem vindo</h1>
                <p class="username"></p>
            </div>
            <ul class="menus">
                <a href="/home"><li>Pagina adoção</li></a>
                <a href="/registerCat"><li>Cadastrar Pet</li></a>
                <a href="/matchs"><li>Matchs <span style="font-weight:bold"> </span></li></a>
                <li id="logout">Sair </li>
            </ul>
        </div>
        <form id="formData">
        <input id="imageFile" type="file" name="sampleData" accept="image/x-png,image/gif,image/jpeg"/>
        <input style="display:none;" id="emailuser" type="email" name="emailuser" />

        </form>
    </div>