<div class="container-adocao">
<div class="row" style="width:70%;margin-top:10%">

<h1 class="textoMatch">Mande Mensagem para seus Match`s</h1>
<p class="pMatch">Não deixe seu match esperando, fale logo com o dono do gato que voce escolheuu!!</p>
<div class="collection">

</div>


<div class="messages">
    <div class="box"> 
    <div class="header">
        <p id="close">X<p>
        <h1 class="nomeGato"></h1>
    </div>
        <div class="messages-box">
        <div class="bodyChat">
    
        </div> 
            <div class="input-usuario">
                <input id="text" type="text" placeholder="Digite sua mensagem"/>
                <button id="send">Enviar</button>
            </div>
        </div>
    </div>
</div>


