<div class="containerL">
<div class="containerLogin">
<div class="midContainer">
<div class="row">
    <img class="logo" src="./images/logo.png"/>
    <div class="input-field col s12">
        <input id="usernameRegister" type="text" class="validate">
        <label for="usernameRegister">Username</label>
    </div>
    <div class="input-field col s12">
        <input id="emailRegister" type="email" class="validate">
        <label for="emailRegister">Email</label>
    </div>
    <div class="input-field col s12">
        <input id="passwordRegister" type="password" class="validate">
        <label for="passwordRegister">Password</label>
    </div>
    <a class="waves-effect waves-light btn" href="/">Voltar</a>
    <a class="waves-effect waves-light btn" id="buttonConfirmar">Confirmar</a>
</div>
</div>
</div>
</div>